

{% extends "base.html" %}
{% block content %}

<div class="card-header">
	<div class="container">
 		<div class="row justify-content-center">
			<div class="card text-white bg-dark " style="max-width: 60rem;">
  				<div class="card bg-info card-header text-center text-white">Delete Item</div>
  					<div class="card-body">
						<p>Are you sure you want to delete "{{item}}" item?</p>
						<form action=""  method="POST">
							{% csrf_token %}
							<div class="text-center">
								<input class="btn btn-sm btn-primary" type="submit" value="Confirm">
								<a class="btn btn-sm btn-danger text-white" href="{% url 'home:todo_list' %}">Cancel</a>
							</div>
							
						</form>
					</div>
 			</div>
 		</div>
	</div>
</div>

{% endblock content %}