
	{% extends "base.html" %}
	{% block content %}
	{% if todos %}
	<div class="card">
  		<div class="card-body">
  			<h4 class=""> Your Todo List
  				<a class="btn btn-dark">Normal</a>
  				<a class="btn btn-warning">past</a>
  				<a class="btn btn-success">Prior</a>
  			<a href="{% url 'home:add_todo' %}" class="float-right btn btn-primary btn-md ">Add Item</a>		
  			</h4>
 		 </div>
	</div>
		{% for obj in todos %}
        	{% if obj.is_greater_priority  and not obj.date < todays_date %}
			<div class="accordion" id="accordionExample">
				<div class="card shadows mt-2 mb-2">
			    <div class="card-header" id="headingThree">	
			      <h4 class="mb-0">
			        <button class="btn btn btn-success btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			          	<h5>{{ obj.title }} <a  class="btn btn-sm btn-light">{{ obj.date }}</a>
			          		<div class="float-right col-sm-3"> 
				 				<a class="btn btn-secondary btn-sm" href="{% url 'home:update_todo' obj.id %}">Update Todo</a>
				  				<a class="btn btn-danger btn-sm" href="{% url 'home:delete_todo' obj.id %}">Delete</a>
							</div>
			          	</h5><!--<div class="btn btn-sm btn-danger">{{ obj.date }}</div>-->
			        </button>
			      </h4>			          	
			    </div>
			    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
			      <div class="card-body">
			    		{{ obj.description }}
			      </div>
			    </div>
			  </div>
			</div>			
            {% elif obj.date < todays_date %}
			<div class="accordion" id="accordionExample">
				<div class="card shadows mt-2 mb-2">
			    <div class="card-header" id="headingThree">	
			      <h4 class="mb-0">
			        <button class="btn btn btn-warning btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			          	<h5>{{ obj.title }} <a  class="btn btn-sm btn-light">{{ obj.date }}</a>
			          		<div class="float-right col-sm-3"> 
				 				<a class="btn btn-secondary btn-sm" href="{% url 'home:update_todo' obj.id %}">Update Todo</a>
				  				<a class="btn btn-danger btn-sm" href="{% url 'home:delete_todo' obj.id %}">Delete</a>
							</div>
			          	</h5><!--<div class="btn btn-sm btn-danger">{{ obj.date }}</div>-->
			        </button>
			      </h4>			          	
			    </div>
			    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
			      <div class="card-body">
			    		{{ obj.description }}
			      </div>
			    </div>
			  </div>
			</div>
			{% else %}
			<div class="accordion" id="accordionExample">
				<div class="card shadows mt-2 mb-2">
			    <div class="card-header" id="headingThree">	
			      <h4 class="mb-0">
			        <button class="btn btn btn-dark btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			          	<h5>{{ obj.title }} <a  class="btn btn-sm btn-light">{{ obj.date }}</a>
			          		<div class="float-right col-sm-3"> 
				 				<a class="btn btn-secondary btn-sm" href="{% url 'home:update_todo' obj.id %}">Update Todo</a>
				  				<a class="btn btn-danger btn-sm" href="{% url 'home:delete_todo' obj.id %}">Delete</a>
							</div>
			          	</h5><!--<div class="btn btn-sm btn-danger">{{ obj.date }}</div>-->
			        </button>
			      </h4>			          	
			    </div>
			    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
			      <div class="card-body">
			    		{{ obj.description }}
			      </div>
			    </div>
			  </div>
			</div>
			{% endif %}
		{% endfor %}
	{% else %}
	<div class="card">
  		<div class="card-body">
  			<h4 class=""> Your Todo List			
  			<a href="{% url 'home:add_todo' %}" class="float-right btn btn-primary btn-md ">Add Item</a>		
  			</h4>
 		 </div>
	</div>
	<div class="alert alert-success" role="alert">
  		<h4 class="alert-heading">No Todos in the list!</h4>
  			<p>Hey there! Your Todo-List is empty. 
  			You can click on above Add Todo button for listing your Todo Activities.</p>
  		<hr>
  		<p class="mb-0">Just add and start using the app for making sure about your todos.</p>
	</div>
	<p><strong></strong></p>
	{% endif %}
	{% endblock content %}

